/*===GLOBAL===*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato";
  background: #fafcfe;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

header {
  background-image: url(/images/hero-01.jpg);
  background-size: cover;
  background-position: center;
  
  nav img {
    float: left;
    margin: 0;
    height: 40px;
  }
  nav ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style-type: none;
  }
  nav ul > li {
    display: inline-block;
  }
  nav ul > li > a {
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
  }
  .slogan {
    display: block;
    > img {
      margin-top: 200px;
      height: 120px;
    }
    p {
      color: #fff;
      font-weight: 300;
      font-size: 14px;
    }
    .btn {
      margin-top: 20px;
      height: 40px;
      width: 200px;
      background: inherit;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }
  .scroll {
    position: relative;
    margin-top: 150px;
    
    a {
      text-decoration: none;
    }
    .icon {
      height: 30px;
      widows: auto;
      cursor: pointer;
      filter: invert(100%);
    }
    p {
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 12px;
    }
  }
  .arrow-bot {
     width: 100%;
    height: auto;
    margin-top: -100%;
    margin-bottom: -3.6px;
  }
}
.services {
  text-align: center;
  margin-top: 40px;
  h2 {
    color: #2980b9;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 600;
  }
  hr {
  
    background-color: #2980b9;
    width: 40px;
    height: 8px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .card {
    color: #616161;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    img{
      width: 50px;
      height: auto;
      filter: opacity(.5)    ;
      -webkit-filter: opacity(.5)    ;
}
    p {
      padding: 0 40px;
      max-width: 80%;
    }
    
  }
}